*{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}
.content{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.navigator{
    display: flex;
    flex-direction: column;

}
.navigator .fastPres{
    
}
